{% extends "base.twig" %}

{% block title "Error 404" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/stylesheets/base.css">
{% endblock %}

{% block body %}
    <h1>Error 404</h1>
{% endblock %}