{% extends "base.twig" %}

{% block title "Welcome" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/stylesheets/base.css">
{% endblock %}

{% block body %}
    <h1>{{ message }}</h1>
{% endblock %}